<div class="container">
	<form action="/auth" method="post">
		<div class="col-xs-6 col-xs-offset-2">
			<input type="text" required class="form-control" placeholder="enter password" name="password" />
		</div>
		<div class="col-xs-6 col-xs-offset-2">
			<input type="submit" value="authenticate" class="btn btn-primary">
		</div>
	</form>
</div>