<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>pokemon table generator tool</title>
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/datatable.min.css">
</head>
<body>
	{{!-- <header>head</header> --}}
	<div class="">
		{{{body}}}
	</div>
	{{!-- <footer>footer</footer> --}}
	<script type="text/javascript" src="vendor/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="vendor/datatables.net/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$(function(){
			$('.datatable').dataTable();
		})
	</script>
	<script type="text/javascript">
		function isFromIframe()
		{
			var result=false;
			try{
				var parent=top.location.href;
				var self=location.href;
				if(parent!==self)
					result=true;
			}
			catch(error){
				result=true;
			}
			return result;
		}
		$(function(){
			if(isFromIframe()){
				$('#embed').remove();			
			}else{
				$('#embed').show();
			}
		});
		$(function(){
			$("#embed").click(function()
			{
				$('.modal').modal('show');
			})
			$("#generateCode").click(function()
			{

				var height=$("#height").val();
				var width=$("#width").val();
				var code='<iframe style="height:'+height+';width:'+width+';border:0" src="http://139.59.6.168:4000/generate-mock"></iframe>';
				$("#embedCode").html(code);
			});
		});
	</script>
</body>
</html>